# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
ca-certificates=2021.10.26=hecd8cb5_2
certifi=2021.10.8=py38hecd8cb5_0
click=8.0.3=pypi_0
flask=2.0.2=pypi_0
gunicorn=20.1.0=pypi_0
itsdangerous=2.0.1=pypi_0
jinja2=3.0.3=pypi_0
libcxx=12.0.0=h2f01273_0
libffi=3.3=hb1e8313_2
markupsafe=2.0.1=pypi_0
ncurses=6.3=hca72f7f_2
openssl=1.1.1l=h9ed2024_0
pip=21.2.4=py38hecd8cb5_0
python=3.8.8=h88f2d9e_5
readline=8.1.2=hca72f7f_0
setuptools=58.0.4=py38hecd8cb5_0
sqlite=3.37.0=h707629a_0
tk=8.6.11=h7bc2e8c_0
werkzeug=2.0.2=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.5=h1de35cc_0
zlib=1.2.11=h4dc903c_4
